 :root{
    --orange: #ff5900;
    --btn1hvr: #d82b00;
    --headerbgrd: #003b55;
    --hovertrans: .7s ease;
    --blanc: #fff;
    --btnpadding: 10px;
    --btnbdrd: 10px;
    --abttxtclr: #efefef;
    --parasize: 1rem;
    --h1position: 500px;
    --h1size: 2rem;
    --shbgrdc: #006297;
    --footerbgrdc:#312c2c;
 }
 
 
 *{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

 }



 .navbar{
            background-color: #003b55;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2px 10px;
            

 }
 .orange{
    color: var(--orange);
 }
 .logo{
    display: flex;
    align-items: center;
 }

 .logo-image{
    width: 8rem;
    
 }

 .logo-text{
    color: #fff;
    margin-left: 15px;
    font-size: 2rem;
   
 }

 .menu{
    display: flex;
    gap: 50px;
    list-style: none;
 }

 .menu-lien{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    font-size: 1.1rem;
 }

 .menu-lien:hover{
    color: var(--orange);
    transition: .7s ease;
 }

 .btn1{
    background-color: var(--orange);
    padding: 10px;
    border-radius: 10px;
 }

 .btn1:hover{
    background-color: var(--btn1hvr);
    color: var(--headerbgrd);
    transition: var(--hovertrans)
 }

.hero{
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../images/herophtml.jpg);
  width: 100%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-txt h2 {
   color: #fff;
   text-align: center;
   font-size: 5rem;
   margin-bottom: 20px;
}

.hero-txt p{
   text-align: center;
   margin-bottom:40px;
   font-size: 1.5rem;
   color: #fff;
}

.hero-txt  a{
   margin-left: 535px;
   text-decoration: none;
   color: var(--blanc);
   background-color: var(--orange);
   padding: var(--btnpadding);
   border-radius: var(--btnbdrd);
   font-weight: bold;
   
   
}

.hero-txt  a:hover{
   background-color: var(--btn1hvr);
   transition: var(--hovertrans);
   
}

#Apropos{
      background-color: var(--abttxtclr);
      padding-top: 10px;
}

#Apropos h1{
   margin-left: var(--h1position);
   margin-bottom: 8px;
   font-size: var(--h1size);
}

#Apropos img{
      width: 75vh;
      height: 60vh;
      margin-right: 100px;
      margin-left: 30px;
      border-radius: 30px;
      
}


.abt-para{
   font-size: var(--parasize);
   padding: 50px 20px 50px 100px;
   color: var(--blanc);
}


.abt-container{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--headerbgrd);
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 200px;
      height: 90vh;

}

#Services{
   height: 110vh;
   margin-bottom: 30px;
   margin-top: 10px;
   margin-left: 10px;
   
   
   
   
}

#Services h1{
   margin-left: var(--h1position);
   font-size: var(--h1size);
}

#Services a{
   margin-left: 570px;
   background-color: var(--headerbgrd);
   color: var(--blanc);
   padding: var(--btnpadding);
   border-radius: var(--btnbdrd);
   text-decoration: none;
   font-weight: bold;
   
}

#Services a:hover{
      background-color: var(--shbgrdc);
      transition: var(--hovertrans);
}

.srv{
   list-style: none;
   
   
}

.srv li{
   width: 300px;
   float: left;
   padding-top: 210px;
   margin-left: 12px;
   margin-top: 50px;
   margin-bottom: 60px;
   
}

.srv p{
      font-size: 17px;
      padding: 10px; 
      
      
}

.srv h4{
   padding: 0 10px;
   
}



   

.creation{
   background: url(../images/creation\ site.png) no-repeat top left;
}


.integration{
   background: url(../images/seo.png) no-repeat top left;
}


.maintenance{
   background: url(../images/maintenace.png) no-repeat top left;
}


.software{
   background: url(../images/software\ api.png) no-repeat top left;
}

#footer{
   background-color: var(--footerbgrdc);
   display: flex;
   justify-content: space-between;
   color: var(--orange);
   padding: 20px 50px 20px 20px;
}
#footer a{
   text-decoration: none;
   color: var(--blanc);
   line-height: 30px;

}
#footer ul{
   list-style: none;
}

.logo-imageft{
    width: 5rem;
    
 }

 .logo-textft{
    color: #fff;
    margin-left: 10px;
    font-size: 1.5rem;
   }



@media(max-width: 768px){
   .navbar{
            background-color: #003b55;
            display: flex;
            padding: 2px 10px;
            

 }

 .menu{
    display: block;
    list-style: none;
    margin-top: 5px;
    
    
 }

 .menu-lien{
   font-size: .8rem;
 }

  .btn1{
    background-color:var(--orange);
    padding: 0 3px;
    border-radius: 5px;  
 }

 .logo{
    display: block;
    
 }

 .logo-image{
    width: 4rem;
    
 }

 .logo-text{
    color: #fff;
    margin-left: 1px;
    font-size: 1rem;
   
 }

 .hero-txt h2 {
   color: #fff;
   text-align: center;
   font-size: 2rem;
   margin-bottom: 50px;
}

.hero-txt p{
   text-align: center;
   margin-bottom:70px;
   font-size: 1rem;
   color: #fff;
}

.hero-txt  a{
   margin-left: 140px;
   text-decoration: none;
   color: var(--blanc);
   background-color: var(--orange);
   padding: var(--btnpadding);
   border-radius: var(--btnbdrd);
   font-weight: bold;
   
   
   
}



 }




